if SHIELD_MATCHA59

config ZMK_KEYBOARD_NAME
	default "Matcha59"

config USB_DEVICE_PRODUCT
	default ZMK_KEYBOARD_NAME

config BT_DEVICE_NAME
	default ZMK_KEYBOARD_NAME

menuconfig ZMK_BLE
	bool "BLE (HID over GATT)"
	select BT
	select BT_SMP
	select BT_SMP_SC_PAIR_ONLY
	select BT_SMP_APP_PAIRING_ACCEPT
	select BT_PERIPHERAL
	select BT_DIS
	select BT_BAS
	select BT_SETTINGS
	select SETTINGS

if ZMK_BLE

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 2048

config ZMK_BLE_THREAD_STACK_SIZE
	int "BLE notify thread stack size"
	default 512

config ZMK_BLE_THREAD_PRIORITY
	int "BLE notify thread priority"
	default 5

config ZMK_BLE_KEYBOARD_REPORT_QUEUE_SIZE
	int "Max number of keyboard HID reports to queue for sending over BLE"
	default 20

config ZMK_BLE_CONSUMER_REPORT_QUEUE_SIZE
	int "Max number of consumer HID reports to queue for sending over BLE"
	default 5

config ZMK_BLE_CLEAR_BONDS_ON_START
	bool "Configuration that clears all bond information from the keyboard on startup."
	default n

# HID GATT notifications sent this way are *not* picked up by Linux, and possibly others.
config BT_GATT_NOTIFY_MULTIPLE
	default n

config BT_GATT_AUTO_SEC_REQ
	default n

config BT_DEVICE_APPEARANCE
	default 961

config ZMK_BLE_PASSKEY_ENTRY
	bool "Experimental: Requiring typing passkey from host to pair BLE connection"
	default n

config BT_MAX_CONN
	default 5

config BT_MAX_PAIRED
	default 5

#ZMK_BLE
endif
endif
